.michspeed-container
  aside.michspeed-content

    section
      div.michspeed-display
        div.michspeed-word
          span.michspeed-lhs
            span.michspeed-prefix
            span.michspeed-left
          span.michspeed-reticle
            span.michspeed-reticle-top ▾
            span.michspeed-reticle-bottom ▾
          span.michspeed-orp
          span.michspeed-right
          span.michspeed-suffix
        div.michspeed-context-container
          div.michspeed-context-subcontainer
            div.michspeed-context
